[submodule "td_tp1_cpp"]
	path = td_tp1_cpp
	url = https://github.com/youtinid2930/td-tp1-c-.git
[submodule "td_tp2_cpp"]
	path = td_tp2_cpp
	url = https://github.com/youtinid2930/td-tp2-cpp.git
[submodule "td_tp3_cpp"]
	path = td_tp3_cpp
	url = https://github.com/youtinid2930/td-tp3-cpp.git
[submodule "td_tp4_cpp"]
	path = td_tp4_cpp
	url = https://github.com/youtinid2930/td-tp4-cpp.git
[submodule "td_tp5_cpp"]
	path = td_tp5_cpp
	url = https://github.com/youtinid2930/td-tp5-cpp.git
